pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
#mapId {
    height: 500px;
    margin-top: 20px;
    z-index: 1;
}
.genderName {
    color: green;
}

.speciesName {
    color: RoyalBlue;
}

.mainContent {
    margin-top: 66px;
}
