pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

#mapSegment {
    height: 100%;
    width: 20%;
    padding-bottom: 30px;
}

#mapId {
    height: 100%;
    margin-top: 20px;
    z-index: 1;
}
.genderName {
    color: green;
}

.speciesName {
    color: RoyalBlue;
}

.mainContent {
    margin-top: 55px;
}

#treeList {
    height: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#treeListSegment {
        border-left: 0;
        padding-bottom: 30px;
}

#searchOverlay{
    height: 520px;
}

#mainMenu {
    height: 65px;
}



#logo {
    vertical-align: middle !important;
}

#logo h1{
    margin-top: 0;
    margin-left: 5px;
}

.selectedItem{
    border-left: thick solid #89C4F4;
    padding-left: 10px;
}

.unselectedItem{
    border-left: thick solid transparent;
    padding-left: 10px;
}

.resultListItem .content{
    display: inline-block;
}
